<!DOCTYPE html>
<html lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Listagem de Turmas</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
</head>

<body>
	<div class="container">
		<h1>Listagem de Turmas</h1>

		<a class="btn btn-primary" style="margin-bottom: 10px"
			href="/turma/formulario">Cadastrar</a>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Ano</th>
					<th>Semestre</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>

				<th:block th:each="turma : ${turmas}">
					<tr>
						<td th:text="${turma.ano}" >2018</td>
						<td th:text="${turma.semestre}" >1°Semestre</td>
						<td><a th:href="@{'/turma/' + ${turma.id} + '/editar'}"
							href="#">Editar</a> <a 
							th:href="@{'/turma/' + ${turma.id} + '/excluir'}"
							th:onclick="'return confirm(\'Deseja excluir essa Turma?\')'"
							href="#">Excluir</a></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		function confirmar(e) {

			if (!confirm("Deseja excluir essa turma?")) {

				e.preventDefault();
			}
		}
	</script>
</body>
</html>