<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Projeto Integrador II</title>
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/header :: header-js"></div>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            Montar Banca
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active">Página Modelo</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                        <div class="card-body">
                            <form th:action="salvar_banca" id="formbanca" method="post"
                            th:object="${banca_obj}" class="col s12">

                                <div class="row">
                                    <div class="offset-1 col-sm-4">
                                        <div class="form-group">
                                            <label for="profs">Professores</label></br>
                                            <select class="selectpicker" multiple id="profs" th:max="3"
                                                    th:field="*{professores}">
                                                <option selected th:each="prof : ${list_professores}"
                                                        th:text="${prof.nome}"
                                                        th:value="${prof.id}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="offset-1 col-sm-4">
                                        <div class="form-group">
                                            <label for="process">Processos</label></br>
                                            <select class="selectpicker" id="process" th:max="3"
                                                    th:field="*{processoOrientacao}">
                                                <option selected th:each="proc : ${processos}"
                                                        th:text="${proc.titulo}"
                                                        th:value="${proc.id}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-1 col-sm-4">
                                        <div class="form-group">
                                            <label for="dataFim">Data</label>
                                            <input th:field="*{data}" id="dataFim"
                                                   name="dataFim"
                                                   type="date"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="offset-1 col-sm-4">
                                        <div class="form-group">
                                            <label for="dataFim">Hora</label>
                                            <input th:field="*{hora}" id="imputHora"
                                                   name="hora"
                                                   type="time"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s6">
                                    <input class="btn btn-primary" type="submit" value="Salvar">

                                    <button class="btn btn-primary"
                                            onclick="document.getElementById('formbanca') = null;">
                                        Limpar
                                    </button>
                                </div>
                            </form>
                    </div>


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Visualizar Bancas</h3>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 150px">Aluno</th>
                                    <th>Título</th>
                                    <th>Data/Horario</th>
                                    <th style="width: 70px">Status</th>
                                    <th style="width: 70px">Montar</th>
                                    <th>Imprimir</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Rafael</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro minus
                                        corrupti suscipit dolorem
                                        maiores odio dicta distinctio tenetur ipsum ducimus necessitatibus
                                        laudantium a impedit,
                                        dignissimos, quasi quis? Odio, possimus velit!
                                    </td>
                                    <td>01/01/2020</td>
                                    <td>
                                        <span class="badge bg-warning">Falta 1</span>
                                    </td>
                                    <td><a href="#" class="btn btn-primary">Escolher</a></td>
                                    <td><a href="#" class="btn btn-info">Imprimir</a></td>
                                </tr>
                                <tr>
                                    <td>Hygor</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia beatae,
                                        molestiae, non tempore,
                                        atque sapiente ad in laudantium corporis soluta corrupti illum quo
                                        cupiditate assumenda dolor ipsum
                                        eligendi nemo qui?
                                    </td>
                                    <td>01/01/2020</td>
                                    <td>
                                        <span class="badge bg-success">Completo</span>
                                    </td>
                                    <td><a href="#" class="btn btn-primary">Escolher</a></td>
                                    <td><a href="#" class="btn btn-info">Imprimir</a></td>
                                </tr>
                                <tr>
                                    <td>Jhemys</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolorum
                                        tempore, qui ea adipisci est
                                        cum recusandae soluta officiis. Veniam, ducimus doloremque dicta et nostrum
                                        provident a debitis
                                        vitae laboriosam?
                                    </td>
                                    <td>01/01/2020</td>
                                    <td>
                                        <span class="badge bg-success">Completo</span>
                                    </td>
                                    <td><a href="#" class="btn btn-primary" data-toggle="modal"
                                           data-target="#exampleModal">Escolher</a>
                                    <td><a href="#" class="btn btn-info">Imprimir</a></td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Zembe Zembe</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima maiores
                                        aperiam in aspernatur quae
                                        consequuntur assumenda animi veniam ipsam architecto, veritatis quas. Nam
                                        aliquam perspiciatis
                                        culpa. Incidunt deleniti explicabo consequatur.
                                    </td>
                                    <td>01/01/2020</td>
                                    <td>
                                        <span class="badge bg-danger">Incompleto</span>
                                    </td>
                                    <td><a href="#" class="btn btn-primary">Escolher</a></td>
                                    <td><a href="#" class="btn btn-info">Imprimir</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <div class="text-center">
                                    <h5> Escolher Professores</h5>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-4">
                                        <h4>Disponíveis</h4>
                                        <div class="list-group" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action active" id="list-home-list"
                                               data-toggle="list"
                                               role="tab" aria-controls="#">Professor 1</a>
                                            <a class="list-group-item list-group-item-action" id="list-profile-list"
                                               data-toggle="list" role="tab"
                                               aria-controls="#">Professor 2</a>
                                            <a class="list-group-item list-group-item-action" id="list-messages-list"
                                               data-toggle="list" role="tab"
                                               aria-controls="#">Professor 3</a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list"
                                               data-toggle="list" role="tab"
                                               aria-controls="#">Professor 4</a>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h4>Escolhidos</h4>
                                        <div class="tab-content card card-info" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                                 aria-labelledby="list-home-list">
                                                ...
                                            </div>
                                            <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                                 aria-labelledby="list-profile-list">...
                                            </div>
                                            <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                                 aria-labelledby="list-messages-list">...
                                            </div>
                                            <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                                 aria-labelledby="list-settings-list">...
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Data</label>
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Horário</label>
                                            <input type="time" class="form-control">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-success">Fechar Banca</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div th:replace="fragments/sidebar :: sidebar-control"></div>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>